.idea/
*.pyc
*.h5
XsCT/checkpoints/
XsCT/data/mesh_data/
XsCT/data/mesh_data_raw/
XsCT/data/mesh_data_128/
XsCT/result_1212/
XsCT/result_128_1213/
XsCT/data/x2ct_dataset/
XsCT/data/mesh_data_256/
XsCT/result_128/
XsCT/result_256/
procs/mkdir.py
procs/write_text_file.py
procs/.vs/ProjectSettings.json
procs/.vs/slnx.sqlite
procs/.vs/VSWorkspaceState.json
procs/output.mha
procs/.vs/procs/FileContentIndex/4084d240-e059-4664-8704-f1e221d55c4f.vsidx
procs/.vs/procs/FileContentIndex/a7d84a0f-fcc4-496a-9e58-543adb718270.vsidx
procs/.vs/procs/FileContentIndex/fed61264-e7d0-483c-a873-420667eb2865.vsidx
procs/.vs/procs/v17/.wsuo
procs/.vs/procs/v17/Browse.VC.db
procs/.vs/procs/v17/DocumentLayout.json
procs/.vs/procs/v17/ipch/AutoPCH/5e5c0714b127336/ITK_CALCULATE_DRR.ipch
procs/.vs/procs/v17/ipch/AutoPCH/a70345056c9b4da8/ITK_CALCULATE_DRR.ipch
XsCT/data/COLONOgraphy/dataset_preprcess.txt
XsCT/data/COLONOgraphy/test.txt
XsCT/data/COLONOgraphy/train.txt
XsCT/data/COLONOgraphy/valid.txt
XsCT/data/COLONOgraphy/mesh_data_256/
XsCT/result/
XsCT/result_128_v3/
XsCT/data/sawbone/
XsCT/test/image_operator.py
